.hero-1 {
    .container-fluid {
        padding: 0 100px;
    }

    .hero-image {
        img {
            @include imgw;
            border-radius: 20px;
        }
    }
}

.hero-2 {
    position: relative;

    .container-fluid {
        padding: 0 100px;
    }

    .text-stoke {
        position: absolute;
        top: 50%;
        right: 44px;
        transform: translateY(-50%);
        z-index: 9;
    }

    .hero-items {
        position: relative;
        padding: 300px 0 300px;

        .hero-slider-bg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
            transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
            transition: transform 9000ms ease, opacity 1500ms ease-in;
            transition: transform 9000ms ease, opacity 1500ms ease-in, -webkit-transform 9000ms ease;
    
            &::before {
                @include before;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 101.12%);
                z-index: 1;
            }
        }

        .hero-content {
            position: relative;
            z-index: 9;
            // opacity: 0;
            // transform: translateY(150px);


            h1 {
                color: $white;
                font-size: 130px;
                font-weight: 700;

                span {
                    font-weight: 400;
                }
            }

            ul {
                margin-top: 20px;
               

               li {
                    color: $white;
                    font-size: 20px;
                    font-weight: 400;
               }
            }

            p {
                color: $white;
                max-width: 560px;
                margin-top: 30px;
                text-transform: capitalize;
            }

            .hero-button {
                margin-top: 40px;
                gap: 40px;
                @include flex;

                .theme-btn {
                    border: 1px solid $theme-color;
                    background-color: transparent;
                    padding: 19.5px 60px;
                    min-width: 200px;            
                }

                .video-btn {
                    background-color: transparent;
                    color: $theme-color;
                    display: inline-block;
                    font-size: 16px;
                    height: 50px;
                    width: 50px;
                    line-height: 50px;
                    border-radius: 50%;
                    text-align: center;
                    position: relative;
                    border: 1px solid $theme-color;
                }
    
                .button-text {
                    span {
                        font-size: 24px;
                        color: $white;
                        font-weight: 400;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    .banner-thumnail-area-3 {
        counter-reset: post-counter;
        position: absolute;
        right: 0;
        bottom: 100px;
        max-width: 960px;
        z-index: 44;

        .banner-img {
            img {
                border-radius: 20px;
            }
        }
    }

    .swiper-slide.swiper-slide-active {
        .hero-slider-bg {
            -webkit-transform: scale(1.35);
            transform: scale(1.35);
        }
        
        .hero-content{
            opacity: 1;
            transform: translateY(0px);
            transition: all 2500ms ease;
        }
    }
}

