

{% load static %}


        <!-- Cta Movie Section Start -->
        <section class="cta-movie-section fix bg-cover" style="background-image: url('img/cta-movie/movie-bg.jpg');">
            <div class="cta-movie-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="cta-content">
                                <h6>Action, adventure, Crime</h6>
                                <h2>
                                    House of the drag
                                </h2>
                                <ul>
                                   <li>2024  .  2h 45m  .  multi language  .  sci - fi/adventure</li>
                                </ul>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                </p>
                                <div class="cta-button">
                                    <span class="button-text">
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        <span class="ms-4 d-line">Watch The Trailer</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cta-thumnail-items">
                    <div class="swiper cta-thumnail-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="cta-thumnail-img">
                                    <img src="{% static 'img/cta-movie/01.jpg' %}" alt="img">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="cta-thumnail-img">
                                    <img src="{% static 'img/cta-movie/02.jpg' %}" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="array-button-2">
                    <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                    <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
        </section>
