
{% load static %}

        <!-- Recently Video Section Start -->
        <section class="recently-videos fix section-padding section-bg-2">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>Recently viewed</h2>
                    </div>
                    <div class="array-button-2">
                        <button class="array-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="array-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="swiper recently-videos-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="recently-view-items">
                                <div class="recently-image">
                                    <img src="{% static 'img/recently-view/01.jpg' %}" alt="img">
                                    <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="recently-view-items">
                                <div class="recently-image">
                                    <img src="{% static 'img/recently-view/02.jpg' %}" alt="img">
                                    <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="recently-view-items">
                                <div class="recently-image">
                                    <img src="{% static 'img/recently-view/03.jpg' %}" alt="img">
                                    <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="recently-view-items">
                                <div class="recently-image">
                                    <img src="{% static 'img/recently-view/04.jpg' %}" alt="img">
                                    <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
