
{% load static %}


        <!-- Trending Section Start -->
        <section class="trending-section-2 section-padding fix">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>treading movies </h2>
                    </div>
                    <div class="array-button-2">
                        <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="trending-wrapper-2">
                    <div class="swiper trending-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/02.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Windatalkers</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/03.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Outsider</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/04.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Johnny English</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/05.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>