
{% load static %}


        <!-- Popular TV Shows Section Start -->
        <section class="popular-tv-shows-section fix section-padding bg-cover" style="background-image: url('assets/img/popular-shows/bg.jpg');">
            <div class="container">
                <div class="section-title text-center">
                    <h2 class="text-white">Popular Tv Shows</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="popular-tv-shows-image">
                                <img src="{% static 'img/popular-shows/01.jpg' %}" alt="img">
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <div class="popular-tv-shows-image">
                                <img src="{% static 'img/popular-shows/02.jpg' %}" alt="img">
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="popular-tv-shows-image">
                                <img src="{% static 'img/popular-shows/03.jpg' %}" alt="img">
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <div class="popular-tv-shows-image">
                                <img src="{% static 'img/popular-shows/04.jpg' %}" alt="img">
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <div class="popular-tv-shows-image">
                                <img src="{% static 'img/popular-shows/05.jpg' %}" alt="img">
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="popular-tv-shows-image">
                                <img src="{% static 'img/popular-shows/06.jpg' %}" alt="img">
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <div class="popular-tv-shows-image">
                                <img src="{% static 'img/popular-shows/07.jpg' %}" alt="img">
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="popular-tv-shows-image">
                                <img src="{% static 'img/popular-shows/08.jpg' %}" alt="img">
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <div class="popular-tv-shows-image">
                                <img src="{% static 'img/popular-shows/09.jpg' %}" alt="img">
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>