
{% load static %}


        <!-- Upcoming Movie Section Start -->
        <section class="upcoming-movie-section-2 fix section-padding">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>Upcoming Movies</h2>
                    </div>
                    <div class="array-button-2">
                        <button class="array-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="array-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="upcoming-movie-wrapper-2">
                <div class="swiper upcoming-movie-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="upcoming-movie-box-items">
                                <div class="movie-image">
                                    <img src="{% static 'img/movie/18.jpg' %}" alt="img">
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        <div class="movie-content">
                                            <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                            <ul class="post-time">
                                                <li>
                                                    <i class="fa-regular fa-clock"></i>
                                                    02h 45m
                                                </li>
                                                <li>
                                                    <i class="fa-sharp fa-regular fa-tv"></i>
                                                    4K Quality
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="social-icon d-grid align-items-center">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="upcoming-movie-box-items">
                                <div class="movie-image">
                                    <img src="{% static 'img/movie/19.jpg' %}" alt="img">
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        <div class="movie-content">
                                            <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                            <ul class="post-time">
                                                <li>
                                                    <i class="fa-regular fa-clock"></i>
                                                    02h 45m
                                                </li>
                                                <li>
                                                    <i class="fa-sharp fa-regular fa-tv"></i>
                                                    4K Quality
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="social-icon d-grid align-items-center">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="upcoming-movie-box-items">
                                <div class="movie-image">
                                    <img src="{% static 'img/movie/20.jpg' %}" alt="img">
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        <div class="movie-content">
                                            <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                            <ul class="post-time">
                                                <li>
                                                    <i class="fa-regular fa-clock"></i>
                                                    02h 45m
                                                </li>
                                                <li>
                                                    <i class="fa-sharp fa-regular fa-tv"></i>
                                                    4K Quality
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="social-icon d-grid align-items-center">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="upcoming-movie-box-items">
                                <div class="movie-image">
                                    <img src="{% static 'img/movie/21.jpg' %}" alt="img">
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        <div class="movie-content">
                                            <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                            <ul class="post-time">
                                                <li>
                                                    <i class="fa-regular fa-clock"></i>
                                                    02h 45m
                                                </li>
                                                <li>
                                                    <i class="fa-sharp fa-regular fa-tv"></i>
                                                    4K Quality
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="social-icon d-grid align-items-center">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="upcoming-movie-box-items">
                                <div class="movie-image">
                                    <img src="{% static 'img/movie/22.jpg' %}" alt="img">
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        <div class="movie-content">
                                            <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                            <ul class="post-time">
                                                <li>
                                                    <i class="fa-regular fa-clock"></i>
                                                    02h 45m
                                                </li>
                                                <li>
                                                    <i class="fa-sharp fa-regular fa-tv"></i>
                                                    4K Quality
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="social-icon d-grid align-items-center">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="upcoming-movie-box-items">
                                <div class="movie-image">
                                    <img src="{% static 'img/movie/23.jpg' %}" alt="img">
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        <div class="movie-content">
                                            <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                            <ul class="post-time">
                                                <li>
                                                    <i class="fa-regular fa-clock"></i>
                                                    02h 45m
                                                </li>
                                                <li>
                                                    <i class="fa-sharp fa-regular fa-tv"></i>
                                                    4K Quality
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="social-icon d-grid align-items-center">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="upcoming-movie-box-items">
                                <div class="movie-image">
                                    <img src="{% static 'img/movie/24.jpg' %}" alt="img">
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        <div class="movie-content">
                                            <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                            <ul class="post-time">
                                                <li>
                                                    <i class="fa-regular fa-clock"></i>
                                                    02h 45m
                                                </li>
                                                <li>
                                                    <i class="fa-sharp fa-regular fa-tv"></i>
                                                    4K Quality
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="social-icon d-grid align-items-center">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>