
{% load static %}


           <!-- Web Series Section Start -->
        <section class="web-series-section section-padding pt-0 fix">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>web series</h2>
                    </div>
                    <div class="array-button-2">
                        <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="web-series-wrapper">
                    <div class="swiper web-series-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/01.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">beverly hills</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/02.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">Glass</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/03.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">Windtalkers</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/04.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">Nolan Outsider</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>