{% extends "Core/base-partials/base.html" %}

{% load static %}

{% block title %}Movies{% endblock %}


  
  {% block content %}

        <!--<< Breadcrumb Section Start >>-->
        <div class="breadcrumb-wrapper bg-cover" style="background-image: url('{% static 'img/breadcrumb-bg.jpg'%}' )">
        <div class="container">
            <div class="page-heading">
                <div class="page-header-left">
                    <h1 class="wow fadeInUp" data-wow-delay=".3s">movies</h1>
                    <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                        <li>
                            <a href="/">
                                <i class="fa-solid fa-house"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-slash-forward"></i>
                        </li>
                        <li>
                            movies
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        
        <!-- Trending Section Start -->
        <section class="trending-section-2 section-padding fix">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>treading movies </h2>
                    </div>
                    <div class="array-button-2">
                        <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="trending-wrapper-2">
                    <div class="swiper trending-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/02.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Windatalkers</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/03.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Outsider</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/04.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Johnny English</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/05.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Trending Section Start -->
        <section class="trending-section-2 section-padding pt-0 fix">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>FEATURED movies</h2>
                    </div>
                    <div class="array-button-2">
                        <button class="array-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="array-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="trending-wrapper-2">
                    <div class="swiper trending-slider-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/09.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">joker</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/10.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">fieldes destiney</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/11.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">r r R</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/12.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">pathan</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Trending Section Start -->
        <section class="trending-section-2 section-padding fix pt-0">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>MOVIES TRAILERS</h2>
                    </div>
                    <div class="array-button-2">
                        <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="trending-wrapper-2">
                    <div class="swiper trending-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/11.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">gmes of throne</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/12.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">mission impossible</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/09.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Johnny Englishh</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/10.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Popular Movie Section Start -->
        <section class="popular-movie-section-2 fux section-padding section-bg-2">
            <div class="container">
                <div class="section-title text-center wow fadeInUp" data-wow-delay=".3s">
                    <h2><img src="{% static 'img/lightning.png" alt="img">POPULAR MOVIES</h2>
                </div>
                <div class="trending-wrapper-2 style-2">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="trending-box-items">
                                <div class="trending-image">
                                    <img src="{% static 'img/trending/13.jpg' %}" alt="img">
                                    <div class="icon">
                                        <i class="fa-solid fa-crown"></i>
                                    </div>
                                </div>
                                <div class="trending-content">
                                    <div class="content">
                                        <h3><a href="movie-details.html">Windatalkers</a></h3>
                                        <p>Action, war, romantic</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="trending-box-items">
                                <div class="trending-image">
                                    <img src="{% static 'img/trending/14.jpg' %}" alt="img">
                                    <div class="icon">
                                        <i class="fa-solid fa-crown"></i>
                                    </div>
                                </div>
                                <div class="trending-content">
                                    <div class="content">
                                        <h3><a href="movie-details.html">Outsider</a></h3>
                                        <p>Action, war, romantic</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="trending-box-items">
                                <div class="trending-image">
                                    <img src="{% static 'img/trending/15.jpg' %}" alt="img">
                                    <div class="icon">
                                        <i class="fa-solid fa-crown"></i>
                                    </div>
                                </div>
                                <div class="trending-content">
                                    <div class="content">
                                        <h3><a href="movie-details.html">Johnny English</a></h3>
                                        <p>Action, war, romantic</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="trending-box-items">
                                <div class="trending-image">
                                    <img src="{% static 'img/trending/12.jpg' %}" alt="img">
                                    <div class="icon">
                                        <i class="fa-solid fa-crown"></i>
                                    </div>
                                </div>
                                <div class="trending-content">
                                    <div class="content">
                                        <h3><a href="movie-details.html">Windatalkers</a></h3>
                                        <p>Action, war, romantic</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="trending-box-items">
                                <div class="trending-image">
                                    <img src="{% static 'img/trending/16.jpg' %}" alt="img">
                                    <div class="icon">
                                        <i class="fa-solid fa-crown"></i>
                                    </div>
                                </div>
                                <div class="trending-content">
                                    <div class="content">
                                        <h3><a href="movie-details.html">Outsider</a></h3>
                                        <p>Action, war, romantic</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="trending-box-items">
                                <div class="trending-image">
                                    <img src="{% static 'img/trending/17.jpg' %}" alt="img">
                                    <div class="icon">
                                        <i class="fa-solid fa-crown"></i>
                                    </div>
                                </div>
                                <div class="trending-content">
                                    <div class="content">
                                        <h3><a href="movie-details.html">Johnny English</a></h3>
                                        <p>Action, war, romantic</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                        <i class="fa-solid fa-star color-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


         {% endblock %}