{% extends "Core/base-partials/base.html" %}

{% load static %}

{% block title %}Movies{% endblock %}


  
  {% block content %}

        <!--<< Breadcrumb Section Start >>-->
        <div class="breadcrumb-wrapper bg-cover" style="background-image: url('{% static 'img/breadcrumb-bg.jpg' %}' );">
            <div class="container">
                <div class="page-heading">
                    <div class="page-header-left">
                        <h1 class="wow fadeInUp" data-wow-delay=".3s">TV shows</h1>
                        <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                            <li>
                                <a href="/">
                                    <i class="fa-solid fa-house"></i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-slash-forward"></i>
                            </li>
                            <li>
                                TV shows
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- TV Shows Section Start -->
        <section class="tv-shows-section fix section-padding">
            <div class="container">
                <div class="section-title text-center">
                    <h2>All The TV You Love</h2>
                    <p>
                        Watch full seasons of exclusive streaming series, current-season episodes, hit movies, tics <br> Originals, kids shows, and more.
                    </p>
                </div>
                <div class="tv-shows-wrapper">
                    <div class="swiper tv-shows-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="tv-shows-items">
                                    <div class="tv-shows-image">
                                        <img src="{% static 'img/tv-shows/01.jpg' %}" alt="img">
                                        <div class="tv-shows-content">
                                            <p>past & current seasons</p>
                                            <h3><a href="tv-shows-details.html">TV Shows</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tv-shows-items">
                                    <div class="tv-shows-image">
                                        <img src="{% static 'img/tv-shows/02.jpg' %}" alt="img">
                                        <div class="tv-shows-content">
                                            <p>news & classic</p>
                                            <h3><a href="tv-shows-details.html">movies</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tv-shows-items">
                                    <div class="tv-shows-image">
                                        <img src="{% static 'img/tv-shows/03.jpg' %}" alt="img">
                                        <div class="tv-shows-content">
                                            <p>ground breaking</p>
                                            <h3><a href="tv-shows-details.html">ticsTube originals</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tv-shows-items">
                                    <div class="tv-shows-image">
                                        <img src="{% static 'img/tv-shows/04.jpg' %}" alt="img">
                                        <div class="tv-shows-content">
                                            <p>add-on</p>
                                            <h3><a href="tv-shows-details.html">premiums</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Tv Shows Section Start -->
        <section class="tv-shows-section-2 fix section-padding pt-0">
            <div class="container">
                <div class="section-title style-2">
                    <h2>TV shows</h2>
                </div>
                <div class="tv-shows-wrapper-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="tv-shows-image">
                                <img src="{% static 'img/tv-shows/09.jpg' %}" alt="img">
                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="tv-shows-content-items">
                                <ul class="nav" role="tablist">
                                    <li class="nav-item wow fadeInUp" data-wow-delay=".2s" role="presentation">
                                        <a href="#Season1" data-bs-toggle="tab" class="nav-link" aria-selected="true" role="tab">
                                            Season 1 
                                        </a>
                                    </li>
                                    <li class="nav-item wow fadeInUp" data-wow-delay=".4s" role="presentation">
                                        <a href="#Season2" data-bs-toggle="tab" class="nav-link active" aria-selected="false" tabindex="-1" role="tab">
                                            Season 2 
                                        </a>
                                    </li>
                                    <li class="nav-item wow fadeInUp" data-wow-delay=".5s" role="presentation">
                                        <a href="#Season3" data-bs-toggle="tab" class="nav-link" aria-selected="false" tabindex="-1" role="tab">
                                            Season 3
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="Season1" class="tab-pane fade">
                                        <div class="movie-list-items">
                                            <div class="movie-list-image">
                                                <img src="{% static 'img/tv-shows/06.jpg' %}" alt="img">
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                    <i class="fa-solid fa-play"></i>
                                                </a>
                                            </div>
                                            <div class="movie-list-content">
                                                    <h6><a href="tv-shows-details.html">Episode 01</a></h6>
                                                    <span>2 : 15</span>
                                                    <p>Watch The Trailer </p>
                                                    <ul class="post-like"> 
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-thumbs-up"></i>
                                                            345
                                                        </li>
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-heart"></i>
                                                            34
                                                        </li>
                                                    </ul>
                                            </div>
                                        </div>
                                        <div class="movie-list-items">
                                            <div class="movie-list-image">
                                                <img src="{% static 'img/tv-shows/07.jpg' %}" alt="img">
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                    <i class="fa-solid fa-play"></i>
                                                </a>
                                            </div>
                                            <div class="movie-list-content">
                                                    <h6><a href="tv-shows-details.html">Episode 02</a></h6>
                                                    <span>2 : 15</span>
                                                    <p>Watch The Trailer </p>
                                                    <ul class="post-like"> 
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-thumbs-up"></i>
                                                            345
                                                        </li>
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-heart"></i>
                                                            34
                                                        </li>
                                                    </ul>
                                            </div>
                                        </div>
                                        <div class="movie-list-items">
                                            <div class="movie-list-image">
                                                <img src="{% static 'img/tv-shows/08.jpg' %}" alt="img">
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                    <i class="fa-solid fa-play"></i>
                                                </a>
                                            </div>
                                            <div class="movie-list-content">
                                                    <h6><a href="tv-shows-details.html">Episode 03</a></h6>
                                                    <span>2 : 15</span>
                                                    <p>Watch The Trailer </p>
                                                    <ul class="post-like"> 
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-thumbs-up"></i>
                                                            345
                                                        </li>
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-heart"></i>
                                                            34
                                                        </li>
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Season2" class="tab-pane fade show active">
                                        <div class="movie-list-items">
                                            <div class="movie-list-image">
                                                <img src="{% static 'img/tv-shows/06.jpg' %}" alt="img">
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                    <i class="fa-solid fa-play"></i>
                                                </a>
                                            </div>
                                            <div class="movie-list-content">
                                                    <h6><a href="tv-shows-details.html">Episode 01</a></h6>
                                                    <span>2 : 15</span>
                                                    <p>Watch The Trailer </p>
                                                    <ul class="post-like"> 
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-thumbs-up"></i>
                                                            345
                                                        </li>
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-heart"></i>
                                                            34
                                                        </li>
                                                    </ul>
                                            </div>
                                        </div>
                                        <div class="movie-list-items">
                                            <div class="movie-list-image">
                                                <img src="{% static 'img/tv-shows/07.jpg' %}" alt="img">
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                    <i class="fa-solid fa-play"></i>
                                                </a>
                                            </div>
                                            <div class="movie-list-content">
                                                    <h6><a href="tv-shows-details.html">Episode 02</a></h6>
                                                    <span>2 : 15</span>
                                                    <p>Watch The Trailer </p>
                                                    <ul class="post-like"> 
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-thumbs-up"></i>
                                                            345
                                                        </li>
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-heart"></i>
                                                            34
                                                        </li>
                                                    </ul>
                                            </div>
                                        </div>
                                        <div class="movie-list-items">
                                            <div class="movie-list-image">
                                                <img src="{% static 'img/tv-shows/08.jpg' %}" alt="img">
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                    <i class="fa-solid fa-play"></i>
                                                </a>
                                            </div>
                                            <div class="movie-list-content">
                                                    <h6><a href="tv-shows-details.html">Episode 03</a></h6>
                                                    <span>2 : 15</span>
                                                    <p>Watch The Trailer </p>
                                                    <ul class="post-like"> 
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-thumbs-up"></i>
                                                            345
                                                        </li>
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-heart"></i>
                                                            34
                                                        </li>
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Season3" class="tab-pane fade">
                                        <div class="movie-list-items">
                                            <div class="movie-list-image">
                                                <img src="{% static 'img/tv-shows/06.jpg' %}" alt="img">
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                    <i class="fa-solid fa-play"></i>
                                                </a>
                                            </div>
                                            <div class="movie-list-content">
                                                    <h6><a href="tv-shows-details.html">Episode 01</a></h6>
                                                    <span>2 : 15</span>
                                                    <p>Watch The Trailer </p>
                                                    <ul class="post-like"> 
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-thumbs-up"></i>
                                                            345
                                                        </li>
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-heart"></i>
                                                            34
                                                        </li>
                                                    </ul>
                                            </div>
                                        </div>
                                        <div class="movie-list-items">
                                            <div class="movie-list-image">
                                                <img src="{% static 'img/tv-shows/07.jpg' %}" alt="img">
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                    <i class="fa-solid fa-play"></i>
                                                </a>
                                            </div>
                                            <div class="movie-list-content">
                                                    <h6><a href="tv-shows-details.html">Episode 02</a></h6>
                                                    <span>2 : 15</span>
                                                    <p>Watch The Trailer </p>
                                                    <ul class="post-like"> 
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-thumbs-up"></i>
                                                            345
                                                        </li>
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-heart"></i>
                                                            34
                                                        </li>
                                                    </ul>
                                            </div>
                                        </div>
                                        <div class="movie-list-items">
                                            <div class="movie-list-image">
                                                <img src="{% static 'img/tv-shows/08.jpg' %}" alt="img">
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                    <i class="fa-solid fa-play"></i>
                                                </a>
                                            </div>
                                            <div class="movie-list-content">
                                                    <h6><a href="tv-shows-details.html">Episode 03</a></h6>
                                                    <span>2 : 15</span>
                                                    <p>Watch The Trailer </p>
                                                    <ul class="post-like"> 
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-thumbs-up"></i>
                                                            345
                                                        </li>
                                                        <li>
                                                            <i class="fa-sharp fa-regular fa-heart"></i>
                                                            34
                                                        </li>
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Trending Section Start -->
        <section class="trending-section-2 section-padding fix pt-0">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>MOST VIEWED TV SHOWS</h2>
                    </div>
                    <div class="array-button-2">
                        <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="trending-wrapper-2">
                    <div class="swiper trending-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/18.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="tv-shows-details.html">Windatalkers</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/19.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="tv-shows-details.html">Outsider</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/20.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="tv-shows-details.html">Johnny English</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/21.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="tv-shows-details.html">Happy Women’s day</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Trending Section Start -->
        <section class="trending-section-2 fix">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>MOST LIKED</h2>
                    </div>
                    <div class="array-button-2">
                        <button class="array-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="array-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="trending-wrapper-2">
                    <div class="swiper trending-slider-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/22.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="tv-shows-details.html">Windatalkers</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/12.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="tv-shows-details.html">Outsider</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/23.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="tv-shows-details.html">Johnny English</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/24.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="tv-shows-details.html">Happy Women’s day</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock %}
