{% extends "Core/base-partials/base.html" %}

{% load static %}

{% block title %}Movies{% endblock %}


  
  {% block content %}
     

        <!--<< Breadcrumb Section Start >>-->
        <div class="breadcrumb-wrapper bg-cover" style="background-image: url('{% static 'img/breadcrumb-bg.jpg' %}' );">
            <div class="container">
                <div class="page-heading">
                    <div class="page-header-left">
                        <h1 class="wow fadeInUp" data-wow-delay=".3s">Web series</h1>
                        <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                            <li>
                                <a href="index.html">
                                    <i class="fa-solid fa-house"></i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-slash-forward"></i>
                            </li>
                            <li>
                                Web series
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Web Series Section Start -->
        <section class="web-series-section section-padding">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>web series</h2>
                    </div>
                    <div class="array-button-2">
                        <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="web-series-wrapper">
                    <div class="swiper web-series-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/01.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">beverly hills</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/02.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">Glass</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/03.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">Windtalkers</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/04.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">Nolan Outsider</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Cta Movie Section Start -->
        <section class="cta-movie-section-2 fix bg-cover" style="background-image: url( 'img/cta-movie/movie-bg-2.jpg');">
            <div class="cta-movie-wrapper style-2">
                <div class="container">
                    <div class="row g-4 justify-content-between">
                        <div class="col-lg-7">
                            <div class="cta-content">
                                <h2>
                                    House of the drag
                                </h2>
                                <h3>2024 | Drama</h3>
                                <ul>
                                   <li>2024  .  2h 45m  .  multi language  .  sci - fi/adventure</li>
                                </ul>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                </p>
                                <div class="cta-button">
                                    <span class="button-text">
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        <span class="ms-4 d-line">Watch The Trailer</span>
                                    </span>
                                    <a href="movie-details.html" class="theme-btn">+ Add to list</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="cta-movie-slider-items">
                                <h4>TOP RATED SCEENS</h4>
                                <div class="swiper cta-movie-slider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="movie-thumb">
                                                <img src="{% static 'img/cta-movie/03.jpg' %}" alt="img">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="movie-thumb">
                                                <img src="{% static 'img/cta-movie/04.jpg' %}" alt="img">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="movie-thumb">
                                                <img src="{% static 'img/cta-movie/05.jpg' %}" alt="img">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="movie-thumb">
                                                <img src="{% static 'img/cta-movie/04.jpg' %}" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-dot">
                                    <div class="dot"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Web Series Section Start -->
        <section class="web-series-section section-padding">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>most watch web series</h2>
                    </div>
                    <div class="array-button-2">
                        <button class="cta-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="cta-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="web-series-wrapper">
                    <div class="swiper web-series-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/05.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">Panipat</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/06.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">disaster movie</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/07.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">moon Light</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="web-series-box-items">
                                    <div class="web-series-thumb">
                                        <img src="{% static 'img/web-series/08.jpg' %}" alt="img">
                                    </div>
                                    <div class="web-series-content">
                                        <h3><a href="web-series-details.html">outslder</a></h3>
                                        <p>2024    Action, Comedy, Crime</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                        <span class="button-text">
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-popup video-text">
                                                Watch now 
                                            </a>
                                            <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple  video-popup">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Trending Section Start -->
        <section class="trending-section-2 pt-0 fix">
            <div class="container">
                <div class="section-title-area">
                    <div class="section-title style-2">
                        <h2>top - rated web series</h2>
                    </div>
                    <div class="array-button-2">
                        <button class="array-prev"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="array-next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="trending-wrapper-2">
                    <div class="swiper trending-slider-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/24.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Windatalkers</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/25.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Outsider</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/26.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Johnny English</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="trending-box-items">
                                    <div class="trending-image">
                                        <img src="{% static 'img/trending/27.jpg' %}" alt="img">
                                        <div class="icon">
                                            <i class="fa-solid fa-crown"></i>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trending-content">
                                        <div class="content">
                                            <h3><a href="movie-details.html">Happy Women’s day</a></h3>
                                            <p>Action, war, romantic</p>
                                        </div>
                                        <div class="star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                            <i class="fa-solid fa-star color-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    
         {% endblock %}