{% extends "base-partials/base.html" %}

{% load static %}

{% block title %}Movies{% endblock %}


  
  {% block content %}
        


        <!--<< Breadcrumb Section Start >>-->
        <div class="breadcrumb-wrapper bg-cover" style="background-image: url('{% static 'img/breadcrumb-bg.jpg' %}' )">
            <div class="container">
                <div class="page-heading">

                    <div class="page-header-left">
                        <h1 class="wow fadeInUp" data-wow-delay=".3s">Log in</h1>
                        <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                            <li>
                                <a href="index.html">
                                    <i class="fa-solid fa-house"></i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-slash-forward"></i>
                            </li>
                            <li>
                                Log in
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        
        <!-- Login Section Start -->
        <section class="login-section section-padding pb-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="login-wrapper">
                            <div class="row">
                                <!-- <div class="col-xl-6">
                                    <div class="sign-img">
                                        <img src="{% static '/img/sign-img.png' %}" alt="img">
                                    </div>
                                </div> -->
                                <div class="col-xl-12">
                                   
                                    <div class="signin-item">
                                        <div class="logo">
                                            <img src="{% static 'img/logo/white-logo.svg' %}" alt="img">
                                        </div>
                                        <div class="sign-header">
                                            <h3>Welcome Back</h3>
                                            <p>Please Enter Your Details</p>
                                        </div>
                                       
                                        <form action="#">
                                            <div class="col-xl-6">                                          
                                                <div class="input-item">
                                                    <input id="first_name" type="email" placeholder="Email">
                                                </div>
                                                <div class="input-item">
                                                    <input id="password" type="password" placeholder="Password">
                                                </div>
                                                <div class="form-check">
                                                        <div class="">
                                                            <input id="reviewcheck" name="reviewcheck" type="checkbox">
                                                            <label class="form-check-label" for="reviewcheck">
                                                                Remember For 30 days
                                                            </label>
                                                        </div>
                                                    <span>Forgot Password?</span>
                                                </div>
                                                <div class="button-items">
                                                    <button type="submit" class="theme-btn">Log In</button>
                                                    <button type="submit" class="theme-btn style-2"><img src="{% static '/img/google.png' %}" alt="img"> Log In With Google</button>
                                                </div>
                                                <h6>Don’t have an account? <a href="login.html">Sign Up</a></h6>
                                            </div>
                                             <div class="col-xl-6">                                          
                                        
                                            <div class="input-item">
                                                <input id="email" type="email" placeholder="Email">
                                            </div>
                                            <div class="input-item">
                                                <input id="password" type="password" placeholder="Password">
                                            </div>
                                            <div class="form-check">
                                                    <div class="">
                                                        <input id="reviewcheck" name="reviewcheck" type="checkbox">
                                                        <label class="form-check-label" for="reviewcheck">
                                                            Remember For 30 days
                                                        </label>
                                                    </div>
                                                <span>Forgot Password?</span>
                                            </div>
                                            <div class="button-items">
                                                <button type="submit" class="theme-btn">Log In</button>
                                                <button type="submit" class="theme-btn style-2"><img src="{% static '/img/google.png' %}" alt="img"> Log In With Google</button>
                                            </div>
                                            <h6>Don’t have an account? <a href="login.html">Sign Up</a></h6>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-6">
                                    <div class="signin-item">
                                        <div class="logo">
                                            <img src="{% static 'img/logo/white-logo.svg' %}" alt="img">
                                        </div>
                                        <div class="sign-header">
                                            <h3>Welcome Back</h3>
                                            <p>Please Enter Your Details</p>
                                        </div>
                                        <form action="#">
                                            <div class="input-item">
                                                <input id="email" type="email" placeholder="Email">
                                            </div>
                                            <div class="input-item">
                                                <input id="password" type="password" placeholder="Password">
                                            </div>
                                            <div class="form-check">
                                                    <div class="">
                                                        <input id="reviewcheck" name="reviewcheck" type="checkbox">
                                                        <label class="form-check-label" for="reviewcheck">
                                                            Remember For 30 days
                                                        </label>
                                                    </div>
                                                <span>Forgot Password?</span>
                                            </div>
                                            <div class="button-items">
                                                <button type="submit" class="theme-btn">Log In</button>
                                                <button type="submit" class="theme-btn style-2"><img src="{% static '/img/google.png' %}" alt="img"> Log In With Google</button>
                                            </div>
                                            <h6>Don’t have an account? <a href="login.html">Sign Up</a></h6>
                                        </form>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
